body {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  background-color: white;
}

h1, h2 {
  font-family: 'Arial', sans-serif;
  color: darkblue;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  text-decoration: underline;
}